
@{
    ViewBag.Title = "ارسال گزارش";
  
}

<h2>ارسال گزارش</h2>

<form action="DateDiffrencer" method="post">
  
    <input type="hidden" name="report" value="transferReport" />
    <input type="submit" name="name" value="پرینت گزارش تجمعی محصولات" class="w3-button w3-green w3-hover-red" />
</form>
