
@{
    ViewBag.Title = "showPaymentInfo";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var status = ViewBag.status;
    var user = (Shop.Models.User)ViewBag.user;
}


            <div style="margin-bottom:500px;margin-top:50px">
                @if (status == true)
                {
                    <div class="alert alert-success">
                        <h4>کاربر @user.name  پرداخت شما با موفقیت انجام شد</h4>
                        <p>شناسه پرداخت شما @ViewBag.TransCode</p>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="/panel" class="btn btn-primary">بازگشت</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <h4>کاربر @user.name  پرداخت شما با موفقیت انجام نشد</h4>
                        <p> @ViewBag.message</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="/panel" class="btn btn-primary">بازگشت</a>
                        </div>
                    </div>
                }
            </div>

