@model List<Shop.Models.Product>
@{
    var user = (Shop.Models.User)ViewBag.user;
    Layout = "~/Views/Shared/_panelLayout.cshtml";
    ViewBag.Title = "تغییر کلمه عبور";
}
<div id="change-password">
    <form action="/panel/changepassword" method="post">
        <h4>تغییر کلمه عبور</h4>
        <h5 style="text-align:center;color:red;margin:0">@ViewBag.message</h5>

        <input class="s-change-password-input" required oninvalid="this.setCustomValidity('کلمه عبور فعلی نباید خالی باشد')" oninput="this.setCustomValidity('')" type="password" name="oldPassword" placeholder=" کلمه عبور فعلی">
        <input class="s-change-password-input" required oninvalid="this.setCustomValidity('کلمه عبور جدید نباید خالی باشد')" oninput="this.setCustomValidity('')" type="password" name="newPassword" placeholder=" کلمه عبور جدید">
        <input class="s-change-password-input" required oninvalid="this.setCustomValidity('تکرار کلمه عبور جدید نباید خالی باشد')" oninput="this.setCustomValidity('')" type="password" name="confirmNewPassword" placeholder="تکرار کلمه عبور جدید ">
        <button class="s-register-input s-register-submit" type="submit"> تغییر کلمه عبور<div class="s-register-animated"></div></button>
    </form>
</div>


@*<div style="width:98.9%;background-color:#f5f5f5;">
        <div class="row">
            <div class="container-fluid" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p> نام : @user.name</p>
                                    <p> نام کاربری: @user.username</p>
                                    <p> موبایل : @user.mobile</p>
                                    <a style="border-radius:50%;position:absolute;top:7px;left:20px" class="btn btn-default" href="/panel/profile"><i class="fa fa-edit "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a class="text-primary" href="/panel"><i style="font-size:16px" class="fa fa-user "></i> &ensp; پروفایل </a>
                                    <br />
                                    <br />
                                    <a class="text-primary" href="/panel/changePassword"><i style="font-size:16px" class="fa fa-key "></i>   &ensp; تغییر رمز </a>
                                    <br />
                                    <br />
                                    <a class="text-primary" href="/panel/Orders"><i style="font-size:16px" class="fa fa-cart-arrow-down "></i> &ensp; همه ی سفارش ها </a>
                                    <br />
                                    <br />
                                    <a class="text-primary" href="/panel/addresses"><i style="font-size:16px" class="fa fa-map-marker "></i>   &ensp; آدرس </a>

                                    <br />
                                    <br />
                                    <a class="text-primary" href="/panel/comments"><i style="font-size:16px" class="fa fa-comment "></i>   &ensp; کامنت  </a>

                                    <br />
                                    <br />
                                    <a class="text-primary" href="/panel/questinsAnswers"><i style="font-size:16px" class="fa fa-question "></i>   &ensp; سوال و جواب  </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="subtitle" style="padding-right:20px">تغییر رمز</h4>
                                    <input required type="password" name="password" value="" />
                                    <input required type="password" name="confirmPassword" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@

