@model Shop.Models.UserGroup

@{
    ViewBag.Title = "Delete";
    
}

<h2>حذف</h2>

<h3>آیا مطمئن هستید که می خواهید حذف کنید؟</h3>
<div>
    @*<h4>UserGroup</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
