body {
    background-color: #f5f5f5;
}

@font-face {
    font-family: yekan;
    src: url(/fonts/Yekan.woff);
}

* {
    font-family: yekan;
    color: grey;
}

@font-face {
    font-family: 'yekan';
    src: url('/content/file.eot');
    src: local('☺'), url('/content/file.woff') format('woff'), url('/content/file.ttf') format('truetype');
}



body {
    padding: 0;
    margin: 0;
}
/*farmani*/

/*login*/

/*login*/
/* register */

/* register */

/* footer */

/*footer*/

/*farmani*/





