
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="s-notFound-page">
    <div class="s-notFound-container">
        <div id="printer-box" class="s-printer-box">
            <div class="s-printer-top-door"></div>
            <div class="s-printer-top-door-border1"></div>
            <div class="s-printer-top-door-border2"></div>
            <div class="s-printer-body"></div>
            <div class="s-printer-border-top"></div>
            <div class="s-printer-border-right"></div>
            <div class="s-printer-border-bottom"></div>
            <div class="s-printer-inner-corner"></div>
            <div class="s-printer-upper-corner"></div>
            <div class="s-printer-page-place"></div>
            <div class="s-printer-paper-Cover"></div>
            <div class="s-printer-page-place-bottom-door"></div>
            <div class="s-printer-page-place-corner"></div>
            <div class="s-printer-button1"></div>
            <div class="s-printer-button2"></div>
            <div class="s-printer-button3"></div>
            <div class="s-printer-papers"></div>
            <div class="s-printer-paper1-animated"><h6>www.kiyan-printer.ir</h6></div>
            <div class="s-printer-paper2-animated"><h3>404<span> یافت نشد ...</span></h3></div>
        </div>
    </div>
</div>


@*<div class="container">


        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h1 class="title-404 text-center">404</h1>
            <p class="text-center lead">
                متاسفیم!<br>
                صفحه ی مورد نظرتان را پیدا نکردیم!
            </p>
            <div class="buttons text-center"> <a class="btn btn-primary btn-lg" href="/Home/Index">ادامه</a> </div>
        </div>
        <!--Middle Part End -->
    </div>*@
