
@model Shop.Models.ProductColor
<tr >
    <td>
       
        <input type="color" name="colorCode" value="@Model.colorCode">

    </td>
    @*<td>
        <input type="text" name="color" class="form-control" placeholder="عنوان" value="@Model.color" />
    </td>
    <td>

        <select name="exist">
            @if ((bool)Model.exist)
            {
            <option selected value="True">True</option>
            <option value="False">False</option>
            }
            else
            {
        <option value="True">True</option>
        <option selected value="False">False</option>
            }

        </select>
    </td>
    <td>
        <a href="#!" onclick="this.parentNode.parentNode.remove();">x</a>
    </td>*@
</tr>
